In [1]:
import acquire
import pandas as pd
import numpy as np

In [4]:
# acquire telco data from acquire.py file and save it in raw_telco

raw_telco = acquire.acquire_telco_data()

In [17]:
# a sorted list of columns

columns = raw_telco.columns.sort_values().to_list()
columns

['churn',
 'contract_type',
 'contract_type_id',
 'customer_id',
 'dependents',
 'device_protection',
 'gender',
 'internet_service_type',
 'internet_service_type_id',
 'monthly_charges',
 'multiple_lines',
 'online_backup',
 'online_security',
 'paperless_billing',
 'partner',
 'payment_type',
 'payment_type_id',
 'phone_service',
 'senior_citizen',
 'streaming_movies',
 'streaming_tv',
 'tech_support',
 'tenure',
 'total_charges']

In [21]:
# resorted columns in DataFrame

raw_telco = raw_telco.reindex(sorted(raw_telco.columns), axis=1)

In [35]:
# the datatype for each column

raw_telco.dtypes

churn                        object
contract_type                object
contract_type_id              int64
customer_id                  object
dependents                   object
device_protection            object
gender                       object
internet_service_type        object
internet_service_type_id      int64
monthly_charges             float64
multiple_lines               object
online_backup                object
online_security              object
paperless_billing            object
partner                      object
payment_type                 object
payment_type_id               int64
phone_service                object
senior_citizen                int64
streaming_movies             object
streaming_tv                 object
tech_support                 object
tenure                        int64
total_charges                object
dtype: object

In [32]:
# using .select_dtypes(include = 'dtype') to get columns with object datatype

raw_telco.select_dtypes(include = 'object').columns#head(2)

Index(['churn', 'contract_type', 'customer_id', 'dependents',
       'device_protection', 'gender', 'internet_service_type',
       'multiple_lines', 'online_backup', 'online_security',
       'paperless_billing', 'partner', 'payment_type', 'phone_service',
       'streaming_movies', 'streaming_tv', 'tech_support', 'total_charges'],
      dtype='object')

In [26]:
# filtering to show columns with object datatype

raw_telco.columns[[raw_telco[col].dtype == 'object' for col in raw_telco.columns]]

Index(['churn', 'contract_type', 'customer_id', 'dependents',
       'device_protection', 'gender', 'internet_service_type',
       'multiple_lines', 'online_backup', 'online_security',
       'paperless_billing', 'partner', 'payment_type', 'phone_service',
       'streaming_movies', 'streaming_tv', 'tech_support', 'total_charges'],
      dtype='object')

In [42]:
for col in raw_telco.columns:
#     if raw_telco[col].dtypes == 'object':
        print(f'{col} has {raw_telco[col].nunique()} unique values')
        if raw_telco[col].isnull().sum() > 0:
            print(f'{col} has {raw_telco[col].isnull().sum()} null values')
        print('--------------')

churn has 2 unique values
--------------
contract_type has 3 unique values
--------------
contract_type_id has 3 unique values
--------------
customer_id has 7043 unique values
--------------
dependents has 2 unique values
--------------
device_protection has 3 unique values
--------------
gender has 2 unique values
--------------
internet_service_type has 3 unique values
--------------
internet_service_type_id has 3 unique values
--------------
monthly_charges has 1585 unique values
--------------
multiple_lines has 3 unique values
--------------
online_backup has 3 unique values
--------------
online_security has 3 unique values
--------------
paperless_billing has 2 unique values
--------------
partner has 2 unique values
--------------
payment_type has 4 unique values
--------------
payment_type_id has 4 unique values
--------------
phone_service has 2 unique values
--------------
senior_citizen has 2 unique values
--------------
streaming_movies has 3 unique values
--------------
streaming_tv has 3 unique values
--------------
tech_support has 3 unique values
--------------
tenure has 73 unique values
--------------
total_charges has 6531 unique values
--------------

In [43]:
# used for loop to print each unique value and value count for each column

for col in raw_telco.columns:
    print(col)
    print(raw_telco[col].value_counts())
    print('----------------')

churn
No     5174
Yes    1869
Name: churn, dtype: int64
----------------
contract_type
Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64
----------------
contract_type_id
1    3875
3    1695
2    1473
Name: contract_type_id, dtype: int64
----------------
customer_id
7009-PCARS    1
8132-YPVBX    1
9611-CTWIH    1
6959-UWKHF    1
6650-BWFRT    1
             ..
8263-JQAIK    1
2107-FBPTK    1
6838-YAUVY    1
2073-QBVBI    1
2207-NHRJK    1
Name: customer_id, Length: 7043, dtype: int64
----------------
dependents
No     4933
Yes    2110
Name: dependents, dtype: int64
----------------
device_protection
No                     3095
Yes                    2422
No internet service    1526
Name: device_protection, dtype: int64
----------------
gender
Male      3555
Female    3488
Name: gender, dtype: int64
----------------
internet_service_type
Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64
----------------
internet_service_type_id
2    3096
1    2421
3    1526
Name: internet_service_type_id, dtype: int64
----------------
monthly_charges
20.05     61
19.85     45
19.90     44
19.95     44
20.00     43
          ..
30.30      1
56.45      1
117.50     1
40.00      1
97.25      1
Name: monthly_charges, Length: 1585, dtype: int64
----------------
multiple_lines
No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64
----------------
online_backup
No                     3088
Yes                    2429
No internet service    1526
Name: online_backup, dtype: int64
----------------
online_security
No                     3498
Yes                    2019
No internet service    1526
Name: online_security, dtype: int64
----------------
paperless_billing
Yes    4171
No     2872
Name: paperless_billing, dtype: int64
----------------
partner
No     3641
Yes    3402
Name: partner, dtype: int64
----------------
payment_type
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64
----------------
payment_type_id
1    2365
2    1612
3    1544
4    1522
Name: payment_type_id, dtype: int64
----------------
phone_service
Yes    6361
No      682
Name: phone_service, dtype: int64
----------------
senior_citizen
0    5901
1    1142
Name: senior_citizen, dtype: int64
----------------
streaming_movies
No                     2785
Yes                    2732
No internet service    1526
Name: streaming_movies, dtype: int64
----------------
streaming_tv
No                     2810
Yes                    2707
No internet service    1526
Name: streaming_tv, dtype: int64
----------------
tech_support
No                     3473
Yes                    2044
No internet service    1526
Name: tech_support, dtype: int64
----------------
tenure
1     613
72    362
2     238
3     200
4     176
71    170
5     133
7     131
8     123
70    119
9     119
12    117
10    116
6     110
13    109
68    100
11     99
15     99
67     98
18     97
69     95
24     94
22     90
66     89
35     88
17     87
23     85
56     80
52     80
64     80
16     80
26     79
25     79
60     76
61     76
65     76
14     76
46     74
19     73
27     72
29     72
30     72
63     72
20     71
62     70
41     70
53     70
32     69
50     68
54     68
51     68
47     68
58     67
49     66
31     65
43     65
42     65
34     65
57     65
37     65
40     64
48     64
55     64
33     64
21     63
45     61
59     60
38     59
28     57
39     56
44     51
36     50
0      11
Name: tenure, dtype: int64
----------------
total_charges
           11
20.2       11
19.75       9
20.05       8
19.9        8
           ..
3457.9      1
1389.35     1
2303.35     1
3211.9      1
1608.15     1
Name: total_charges, Length: 6531, dtype: int64
----------------

In [47]:
raw_telco.payment_type.value_counts()

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64

In [48]:
pd.crosstab(raw_telco.payment_type, raw_telco.payment_type_id)

payment_type_id               1     2     3     4
payment_type
Bank transfer (automatic)     0     0  1544     0
Credit card (automatic)       0     0     0  1522
Electronic check           2365     0     0     0
Mailed check                  0  1612     0     0

In [57]:
raw_telco.payment_type.replace('Electronic check', 1,  inplace = True)#, 
#                                'Mailed check': 2,
#                                'Bank transfer (automatic)': 3, 
#                                'Credit card (automatic)': 4)

In [58]:
raw_telco.payment_type.value_counts()

1                            2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64