<b>Telco Churn Classifcation Project</b>
<b>Final Report</b><br>
Stephanie Jones<br>
Codeup | Hopper, Data Science<br>
Monday, November 28, 2021

In [1]:
# # created a for loop that returned a list of our (non-numerical) object columns and stored in variable obj_cols

# # empty ilst that will store the columns that meet the below criteria in for loop
# object_cols = []

# for col in raw_data.columns:
#     if raw_data[col].dtype == 'O':
#         object_cols.append(col)

In [2]:
# # these (our object columns) are the columns we will need to map to numerical values or encode
# print(object_cols)
# print('\n')
# print(f'There are {len(object_cols)} object columns.')

# 01_acquire
To acquire the Telco data, I used the 'telco_churn' db in our mySQL server, and selected all columns from customers table `select * from customers`<br><br>
joining the following tables:
- contract_types using (contract_type_id) `join contract_types using (contract_type_id)`
- internet_service_types using (internet_service_type_id) `join internet_service_types using (internet_service_type_id)`
- payment_types using (payment_type_id)`join payment_types using (payment_type_id)`

In [5]:
import acquire # this is the file with all of the functions used to connect to db and acquire Telco data

# this will run the function that:
#     connects to the db using credentials from env file
#     runs the SQL query and writes a pandas DataFrame from the results
#     caches the DataFrame into a local telco_data.csv file if one does not already exist

raw_data = acquire.acquire_telco_data()

# 02_prepare

In [9]:
# To clean the data and prepare for exploration and modeling, I did the following:
#     a. Dropped unnecessary customer_id column
#     b. Dropped x3 redundant columns
#         i. contract_type
#         ii. internet_service_type
#         iii. payment_type
#     c. Changes total_charges column from object to float datatype
#     d. Mapped x5 columns with binary values to 0 for “No” value and 1 for “Yes” value
#         i. churn 
#         ii. dependents
#         iii. paperless_billing
#         iv. partner
#         v. phone_service
#     e. Encoded remaining x11 columns and cleaned up unclear dummy names

In [12]:
def clean_telco(df):
    
    df_dropped = df.drop(columns = ['customer_id', 'contract_type', 'internet_service_type', 'payment_type'])
    df_dropped.total_charges
    
    return df_dropped

In [13]:
test_df = clean_telco(raw_data)

In [15]:
print(raw_data.shape)
print(test_df.shape)

(7043, 24)
(7043, 20)